/* RESET STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    background: url("images/background.jpg");
    background-size: cover;
    color: #FFFFFF;
}

a {
    text-decoration: none;
}

.home-section {
    text-align: center;
}

.home-heading {
    font-size: 3.0rem;
}

.main-navbar {
    display: flex;
    font-family: "Courier New";
    font-size: 2.0rem;
    gap: 1.0rem;
    justify-content: flex-end;
    padding: 0.5rem 1.0rem;
}

.current-page-paragraph {
    color: #f3b7ff;
    border: 0.1rem solid #5d23e9;
    border-radius: 0.25rem;
    outline: 0.1rem solid #d137ee;
    outline-offset: 0.1rem;
    box-shadow: 0 0 2.5rem #d137ee, 0 0 1.0rem #5d23e9, inset 0 0 1.5rem #5d23e9;
    padding: 0 0.25rem;
}