/* RESET STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    background: url("images/background.jpg");
    background-size: cover;
    color: #FFFFFF;
}

a {
    text-decoration: none;
}

.home-section {
    text-align: center;
}

.home-heading {
    font-size: 3.0rem;
}

.main-nav-links {
    display: flex;
    font-family: "Courier New";
    font-size: 2.0rem;
    gap: 1.0rem;
    justify-content: flex-end;
    padding: 0.5rem 1.0rem;
}